*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black !important;
    #encabezado {
        background-image: url(https://media.istockphoto.com/photos/old-black-shabby-brick-wall-wide-panoramic-texture-dark-grey-rough-picture-id1326917283?b=1&k=6&m=1326917283&s=170667a&w=0&h=z8TPcC0YbGhc8jlrbRHSJbO4KFnb2Z_GkOekdzXefrM=);
        background-position: center;
        .encabezado__logo {
            width: 100px;
            height: auto;
            margin-top: 10px;
            @media (max-width: 576px) {
                display: block;
                margin: auto;
            }
        }
        .encabezado__menu {
            background-color: blueviolet;
            text-align: center;
            ul {
                list-style: none;
                margin: 5px;
                padding: 0px;
                li {
                    display: inline-block;
                    @media (max-width: 576px) {
                        display: block;
                        text-align: center;
                    }
                    a {
                        color: #eae743;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: 20px;
                        text-decoration: none;
                        display: block;
                        padding: 10px 86px;
                        &:hover {
                            background-color: black;
                        }
                    }                
                }
            }
        }
    }
    div {
        #titulo-pagina {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 45px;
            color: blueviolet;
            text-align: center;
            margin-top: 20px;
            background-color: #eae743;
        }
    }
    .contenedor-grid {
        background-color: #eae743;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        padding: 10px;
        margin-top: 20px;
        text-align: center;
        .noticias-grid {
            background-color: blueviolet;
            padding: 10px;
            a {
                text-decoration: none;
            }
            img {
                width: 100%;
                height: auto;
                border: 6px black solid;
                margin-top: 20px;
                border-radius: 25px;
            }
            .titulo-parrafo {
                color: #eae743;
                font-size: 45px;
                margin-bottom: 20px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            p {
                color: black;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 20px;
                max-width: 990px;
                text-align: center;
            }
            .titulo-parrafosec {
                color: #eae743;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 25px;
                margin-top: 25px;
            }
        }
        .noticias-grid:nth-child(1) {
            grid-column: 1/3;
            grid-row: 1/3;
        }
        @media (max-width: 576px) {
            display: block;
        }
    }
    #pie-pagina {
        background-color: #eae743;
        height: auto;
        margin-top: 60px;
        .pie-pagina-menu {
            list-style: none;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media (max-width: 576px) {
                display: inline;
                text-align: center
            }
            div {
                ul{
                    li {
                        list-style: none;
                        padding-top: 10px;
                        padding-left: 10px;
                        padding-bottom: 10px;
                        display: inline-block;
                        a {
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 18px;
                            text-decoration: none;
                            display: block;
                            padding: 2px;
                            color: blueviolet;
                        }
                    }
                }
            }
            .pie-pagina-redes {
                margin-top: auto;
                margin-bottom: auto;
                .redes-sociales-logo {
                    width: 40px;
                    height: auto;   
                    position: relative;
                    float: right;
                    bottom: 5px;
                    padding-right: 10px;
                    margin-top: auto;
                }
                @media (max-width: 576px) {
                    display: flex;
                    justify-content: center;
                    margin-top: 30px;
                }
            }
        }
        .pie-pagina-copyright {
            width: 100%;
            margin-top: 40px;
            background-color: blueviolet;
            .copyright {
                text-align: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 15px;
                color: #eae743;
                padding: 10px;
            }
        }
    }
}  



